<div class="p-5" >

    <%= form_with url: log_in_path, local: true do |f|%>

        <div class="mb-3" style="width: 30em">
            <%= f.label :email %>
            <%= f.text_field :email, class:"form-control", placeholder: "example@email.com" %>
        </div>

        <div class="mb-3" style="width: 30em">
            <%= f.label :password %>
            <%= f.password_field :password, class:"form-control", placeholder: "password1234" %>
        </div>

        <div class="mt-4 mb-3">
            <%= f.submit "Log In !", class: "btn btn-primary" %>
        </div>
    <% end %>
    
</div>