<h1 class="text-center pt-5"> This is the page for the Gossip : <%= @gossip.title %> </h1>
<p class="text-center pt-2"> <%= @gossip.content %> <p>
<p class="text-center"> Gossip city : ERROR <p>
<p class="text-center"> You can see the author's profile here -> <a href="/author/<%= @gossip.user.first_name %>"><%= @gossip.user.first_name %></a><br><br>
<a class="text-center" href="<%= edit_gossip_path(@gossip.id) %>">Edit Gossip</a>