<h1 class="text-center"> Hello <%= @first_name %> ! Welcome to The Gossip Project, tell us everything you know. </h1>

<p class="text-center"> View All Gossips :</p>

<div id="section_cards">
    <% @gossips.each do |gossip| %>
        <div id="section_cards">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= gossip.title %></h5>
                    <a href="/gossip/<%= gossip.id %>">Read gossip</a>
                    <p class="card-text">Created on <%= gossip.created_at%> by <%= gossip.user.first_name %></p>
                    
                </div>
            </div>
        </div>
    <% end %>
</div>
